<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper가 여러개 인 경우, namespace로 구분한다. -->
<mapper namespace="shop">
	<select id="list" parameterType="String" resultType="com.ict.db.VO">
		select * from shop_t where category = #{category}
	</select>
	<select id="onelist" parameterType="String" resultType="com.ict.db.VO">
		select * from shop_t where idx = #{idx}
	</select>
</mapper>