<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper가 여러개 인 경우, namespace로 구분한다. -->
<mapper namespace="board">

	<select id="count" resultType="int">
		select count(*) from board
	</select>
	
	<!-- groups : 원글이거나 원글의 댓글, 그 댓글에 댓글 처럼 원글과 관련된 그룹을 이야기한다. 
		 원글은 무조건 step과 lev이 0이다.
		 또한, 원글은 groups의 시퀀스를 장착한다 -> groups는 자동증가.
	-->
	<select id="list" parameterType="Map" resultType="com.ict.db.VO">
		 select * from (
	     select rownum r_num,  a.* from (
	 		select * from board order by groups desc, lev asc ) a 
	 		) where r_num between #{begin} and #{end}
	</select>
	
	<!-- idx, writer, title, content, pwd, hit, groups, step, lev, regdate, file_name -->
	 <insert id="insert" parameterType="com.ict.db.VO">
	 	insert into board values(board_seq.nextval, #{writer},#{title},#{content},#{pwd},0,
	 	group_seq.nextval, 0, 0, sysdate, #{file_name} )
	</insert>
	
	<!-- 조회수 업데이트 -->
	<update id="hit_up" parameterType="String">
		update board set hit=hit+1 where idx =#{idx}
	</update>
	
	<select id="onelist" parameterType="String" resultType="com.ict.db.VO">
		select * from board where idx = #{idx}
	</select>
	
	<delete id="delete" parameterType="String">
		delete from board where idx = #{idx}
	</delete>
	<!--덧글 삽입 전에 lev을 업그레이드 하자. -> 원글과 같은 그룹이면서, 레벨이 같거나 크면 증가시키자. -->
	<!--처음으로 달린 덧글은 업데이트가 되지 않는다. -->
	<update id="levup" parameterType="Map">
		update board set lev=lev+1 where groups=#{groups} and lev>=#{lev}
	</update>
	
	 <insert id="ans_insert" parameterType="com.ict.db.VO">
	 	insert into board values(board_seq.nextval, #{writer}, #{title}, #{content}, #{pwd}, 0,
	 	#{groups}, #{step}, #{lev}, sysdate, #{file_name})
	</insert>
</mapper>