<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestbook">
	<select id="list" resultType="com.ict.db.VO">
		<!-- <select id="" parameterType ="" resultType =""> 없는 건 지우기-->	
		select * from guestbook2 order by idx 
	</select>
	
	<select id="onelist" resultType="com.ict.db.VO" parameterType="String">
		select * from guestbook2 where idx=#{idx}
	</select>
	
	<insert  id="insert" parameterType="com.ict.db.VO">
	insert into guestbook2 values(guestbook2_seq.nextval,#{name},#{subject},#{content},#{email},#{pwd},#{f_name},sysdate)
	</insert>
	
	<update id="update" parameterType="com.ict.db.VO">
	update guestbook2 set name=#{name},subject=#{subject},content=#{content},email=#{email}, f_name=#{f_name} where idx=#{idx}
	</update>
	
	<delete id="delete" parameterType="com.ict.db.VO">
	
	delete from guestbook2 where idx = #{idx}
	
	</delete>
</mapper>
